langchain
python-dotenv #import key value pairs in .env file
langchain_groq
langchain_core
fastapi
uvicorn
langserve
sse_starlette
langchain_community
transformers
langchain-groq
faiss-cpu
langchain_huggingface
pypdf
sentence-transformers
tf-keras